<%=flash[:book]%>
<% if flash[:update] %>
<div class="flash">
	<%= flash[:update] %>
</div>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th> <%=render 'books/link',negishi1:@book.user%></th>

					</tr>
					<tr>
						<th><h5>name</h5></th>
						<th><%=@book.user.name%></th>
					</tr>
					<tr>
						<th><h5>introduction</h5></th>
						<th><%=@book.user.introduction%></th>
					</tr>
				</tbody>
			</table>

			<%= link_to '', edit_user_path(@book.user_id),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
				
				<!-- 部分テンプレート -->
		
			<%=render 'users/list',book:@new_book %>
				<!-- 部分テンプレート -->

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table table-hover table-inverse">
				<tbody>
					<tr>
						<td><%=render 'books/list',negishi2:@book.user%></td>
						
							<td><%=@book.title%></td>
							<td><%=@book.body%></td>
							<% if current_user.id == @book.user_id %>
							<td><%=link_to 'Edit',edit_book_path %></td>

							<td><%=link_to "Destroy",book_path(@book.id),method: :delete %></td>
							<% end %>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
